/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Releway', sans-serif;
    
}
.body{
    font-size: 16px;
}
.header-style{
    display:flex;
    flex-direction: column;
    background-color:bisque;
    height: 120vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.nav-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 16vh;
}
.spotify-logo-nav{
    width: 20vw;
    height: 9vh;
    padding-left: 70px;
}
.ul-style{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center; 
    background-color: brown; 
    height: 10vh;  
    width: 38vw;
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 100;
}
ul a{
    text-decoration: none;
    color:black;
}
.header-intro{
  
   color: white;
    font-size: 2.5rem;
    flex-direction: column;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
      
}
/* CSS block 2*/

.block-2-style{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.block-2-style span{
    padding-top: 40px;
    padding-bottom:10px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
   border-bottom: 5px solid green;
   width: 30%;

   


}
.advantage-styles{
   	display: flex;
	justify-content: space-evenly;
    align-items: flex-start;

}
.advantage-styles > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 70px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
   
}
.advantage-styles > div > img{
    height: 180px;
    
}
.advantage-styles div h3{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}
.advantage-styles div p{
    color: black;
    font-weight:100;
    font-size: 2.8rem;
}

/* CSS block 3*/

.block-3-style{
    background-color: rgb(30,215,96);
    margin: 70px;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/spotify-icon-white.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;

}
.block-3-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    margin: 70px;
    width: 30%;
}
.app-style{
    width: 30%;
    height: 60%;
}
